// Creando variables
$cien : 100%;
$blanco: #fff;
$negro: #000;
$color: #8a55d3;
$colhover:#8a99d6;
$fondo : url('../img/fondo.jpg');
// Creando mixin
@mixin wxh ($ancho,$alto){
  width: $ancho;
  height: $alto;
}
@mixin resturar {
  margin: 0;
  padding: 0;
}
@mixin hover ($colhover) {
  &:hover {
    background-color: $colhover;
  }
}
// Creando el estilos scss de la página
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
*{
  @include resturar;
}
body{
  background-color: rgb(150, 139, 147);
  .titulo{
    margin: 50px 100px 0 300px;
    h1, h3{
      font:{
        size: 42px;
        family: 'Diplomata SC', cursive;
      }
      margin: 0 auto;
      width: $cien;
      color: $negro;
      text:{
        align: right;
        shadow: 2px 2px $blanco;
      }
    }
    h3 {
      font-size: 24px;
    }
  }
}

// tamaños en posición básica (315px,auto)-> posición ampliada (440px,auto)
.calculadora{
    @include wxh(315px,auto);
    background-color:$negro;
    position: relative;
    margin: 50px auto;
    border: 1px solid $negro;
    box-shadow: 5px 5px 5px $blanco;
    padding: 10px;
    .top{
      @include wxh(97%,48px);
      position: relative;
      padding: 6px;
      background: $colhover;
      .op{
        position: absolute;
        z-index: 1000;
        margin: 15px 10px;
        font-weight: bold;
        font-size: 20px;
        color:#800080;
      }
      #display{
        @include wxh($cien,$cien);
        border:none;
        opacity: 0.5;
        color:#800080;
        font-size: 35px;
        font-weight: bold;
        text-align: right;
      }
    }
    #opIcono{
      position: relative;
      @include wxh($cien,auto);
      margin-top: 5px;
      margin: auto;
      padding: 9px;
      .btn {
        @include wxh(36px,30px);
        background-color:$color;
        margin-top: 4px;
        border: none;
        // float: right;
        color: #800080;
        font:{
          size: 20px;
          family: sans-serif;
          weight: bold;
        }
        &:hover{
          background-color: rgb(218, 191, 233);
        }
  }
  .tooltip{
    @include wxh(200px,40px);
    background-color: $color;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 6px;
    position: absolute;
    top: -100px;
    left: -70px;
    visibility: hidden;
    transition: opacity 1s, visibility 1s, top 1s;
    opacity: 0;
    &::after {
      content: " ";
      position: absolute;
      top: $cien;
      left: $cien/2-10%;
      border-style: solid;
      border-width: 15px;
      border-color: $color transparent transparent transparent;
    }
  }
  .btn:hover + .tooltip {
    visibility: visible;
    opacity: 1;
    top: -60px;
  }
}
    .cuerpo{
      position: relative;
      margin-top: 5px;
      margin: auto;
      @include wxh($cien,auto);
      padding: 9px;
      .btn {
        @include wxh(56px,50px);
        background-color:$color;
        margin-top: 4px;
        border: none;
        color: #800080;
        font:{
          size: 35px;
          family: sans-serif;
          weight: bold;
        }
        &:hover{
          background-color: rgb(218, 191, 233);
        }
      }
      .igual {
        width: 56px;
        height: 103px;
        position: absolute;
      }
      .zero {
        @include wxh(115px,50px);
      }
      .masOp{
        background-color: rgb(157, 166, 175);
        font-weight: 100;
        font-stretch: condensed;
        display: none;
        &:hover{
          background-color: rgb(218, 191, 233);
        }
      }
      .logico {
        @include wxh(70px,50px);
        background-color: rgb(157, 166, 175);
        font-weight: 100;
        font-stretch: condensed;
        // display: none;
        &:hover{
          background-color: rgb(218, 191, 233);
        }
      }
    }
}
