// Creando variables
$cien : 100%;
$blanco: #fff;
$negro: #000;
$color: #8a55d3;
$colhover:#8a99d6;
$fondo : url('../img/fondo.jpg');
// Creando mixin
@mixin wxh ($ancho,$alto){
  width: $ancho;
  height: $alto;
}
@mixin resturar {
  margin: 0;
  padding: 0;
}
@mixin hover ($colhover) {
  &:hover {
    background-color: $colhover;
  }
}
// Creando el estilos scss de la página
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
*{
  @include resturar;
}
body{
  background-color: rgb(150, 139, 147);
  .titulo{
    margin: 50px 100px 0 300px;
    h1, h3{
      font:{
        size: 42px;
        family: 'Diplomata SC', cursive;
      }
      margin: 0 auto;
      width: $cien;
      color: $negro;
      text:{
        align: right;
        shadow: 2px 2px $blanco;
      }
    }
    h3 {
      font-size: 24px;
    }
  }
}
.calculadora {
    @include wxh(315px,auto);
    background-color:$negro;
    position: relative;
    margin: 50px auto;
    border: 2px solid grey;
    box-shadow: 4px 4px 4px grey;
    padding: 10px;
    .top{
      @include wxh(97%,48px);
      position: relative;
      padding: 6px;
      background: $colhover;
      margin-top: 50px;
      #display{
        @include wxh($cien,$cien);
        border:none;
        opacity: 0.5;
        color:#800080;
        font-size: 20px;
        text-align: right;
      }
    }
    .cuerpo{
      position: relative;
      margin-top: 5px;
      margin: auto;
      @include wxh($cien,auto);
      padding: 9px;
      .btn {
        @include wxh(56px,50px);
        background-color:$color;
        color: #800080;
        font:{
          size: 20px;
          family: sans-serif;
        }
      }
      .igual {
        width: 56px;
        height: 100px;
      }
      .zero {
        @include wxh(112px,50px);
      }
    }
}
